Source: pypolicyd-spf
Section: mail
Priority: optional
Maintainer: Scott Kitterman <scott@kitterman.com>
Uploaders: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Build-Depends: debhelper (>= 7.3.16), python (>= 2.6.5-13~), quilt (>= 0.46-7)
Standards-Version: 3.9.2
Homepage: https://launchpad.net/pypolicyd-spf
Vcs-Svn: svn://svn.debian.org/python-apps/packages/pypolicyd-spf/trunk/
Vcs-Browser: http://svn.debian.org/viewsvn/python-apps/packages/pypolicyd-spf/trunk/
X-Python-Version: >= 2.4

Package: postfix-policyd-spf-python
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-spf, postfix, adduser
Description: Postfix policy server for SPF checking
 postfix-policyd-spf-python is a full featured Postfix SMTPd policy engine for
 SPF checking. It includes a variety of whitelisting mechanisms and policy
 options to enable it to support the widest variety of system requirements.
 It is implemented in pure Python and uses the python-spf module.  The SPF
 web site is http://www.openspf.org/.

