Source: pypolicyd-spf
Section: mail
Priority: extra
Maintainer: Scott Kitterman <scott@kitterman.com>
Uploaders: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Build-Depends: cdbs (>= 0.4.43), debhelper (>= 5.0.37.1), python-dev, python-central (>= 0.6)
Standards-Version: 3.8.3
Homepage: http://www.openspf.org/Software
Vcs-Svn: svn://svn.debian.org/python-apps/packages/pypolicyd-spf/trunk/
Vcs-Browser: http://svn.debian.org/wsvn/python-apps/packages/pypolicyd-spf/?op=log
DM-Upload-Allowed: yes
XS-Python-Version: current

Package: postfix-policyd-spf-python
Architecture: all
XB-Python-Version: current
Depends: ${python:Depends}, ${misc:Depends}, python-spf (>= 2.0), postfix (>= 2.1), adduser
Provides: python-policyd-spf
Replaces: python-policyd-spf
Conflicts: python-policyd-spf 
Description: pure-Python Postfix policy daemon for SPF checking
 python-policyd-spf is a Postfix SMTPd policy engine for SPF checking.
 It is implemented in pure Python and uses the python-spf module.  The SPF
 web site is http://www.openspf.org/.

