#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

install/python-policyd-spf::
	dh_installman policyd-spf.1
	dh_installdirs etc/python-policyd-spf
	install -m 644 policyd-spf.conf $(DEB_DESTDIR)/etc/python-policyd-spf/

